TARO_APP_API_BASE_URL=http://127.0.0.1:{{TEMPLATE_BACKEND_PORT}}
TARO_APP_TEMPLATE_PROJECT_ID={{TEMPLATE_PROJECT_ID}}
TARO_APP_TEMPLATE_BRAND_NAME={{TEMPLATE_BRAND_NAME}}
TARO_APP_TEMPLATE_COOKIE_PREFIX={{TEMPLATE_COOKIE_PREFIX}}
TARO_APP_TEMPLATE_CUSTOMER_EMAIL={{TEMPLATE_CUSTOMER_EMAIL}}
TARO_APP_TEMPLATE_CUSTOMER_PASSWORD={{TEMPLATE_CUSTOMER_PASSWORD}}
