NEXT_PUBLIC_API_BASE_URL=http://localhost:{{TEMPLATE_BACKEND_PORT}}
BACKEND_INTERNAL_BASE_URL=http://localhost:{{TEMPLATE_BACKEND_PORT}}
NEXT_PUBLIC_APP_NAME={{TEMPLATE_PROJECT_ID}}
NEXT_PUBLIC_TEMPLATE_PROJECT_ID={{TEMPLATE_PROJECT_ID}}
NEXT_PUBLIC_TEMPLATE_BRAND_NAME={{TEMPLATE_BRAND_NAME}}
NEXT_PUBLIC_TEMPLATE_COOKIE_PREFIX={{TEMPLATE_COOKIE_PREFIX}}
TEMPLATE_CUSTOMER_EMAIL={{TEMPLATE_CUSTOMER_EMAIL}}
TEMPLATE_CUSTOMER_PASSWORD={{TEMPLATE_CUSTOMER_PASSWORD}}
TEMPLATE_CUSTOMER_DISPLAY_NAME={{TEMPLATE_CUSTOMER_DISPLAY_NAME}}
