NEXT_PUBLIC_API_BASE_URL=http://localhost:{{TEMPLATE_BACKEND_PORT}}
NEXT_PUBLIC_BACKEND_URL=http://localhost:{{TEMPLATE_BACKEND_PORT}}
NEXT_PUBLIC_TEMPLATE_PROJECT_ID={{TEMPLATE_PROJECT_ID}}
NEXT_PUBLIC_TEMPLATE_BRAND_NAME={{TEMPLATE_BRAND_NAME}}
NEXT_PUBLIC_TEMPLATE_COOKIE_PREFIX={{TEMPLATE_COOKIE_PREFIX}}
TEMPLATE_ADMIN_EMAIL={{TEMPLATE_ADMIN_EMAIL}}
TEMPLATE_ADMIN_PASSWORD="{{TEMPLATE_ADMIN_PASSWORD}}"
TEMPLATE_ADMIN_DISPLAY_NAME={{TEMPLATE_ADMIN_DISPLAY_NAME}}
